
30 x 30
@import "pygment_trac.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:focus {
    outline: medium none;
}
html, body {
    height: 100%;
}
#main_content_wrap {
    min-height: 100%;
}
body {
    background: none repeat scroll 0 0 #212121;
    color: #373737;
}
body, input, button {
    font-family: 'Myriad Pro',Calibri,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: 'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 10px 0;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    background: url("../images/bg_hr.png") repeat-x scroll center bottom transparent;
    font-size: 32px;
    padding-bottom: 10px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    margin: 10px 0 15px;
}
footer p {
    color: #F2F2F2;
}
a {
    color: #007EDF;
    text-decoration: none;
    text-shadow: none;
    transition: text-shadow 0.5s ease 0s;
}
#main_content a:hover {
    color: #0069BA;
    text-shadow: 0 0 2px #0090FF;
}
footer a:hover {
    color: #43ADFF;
    text-shadow: 0 0 2px #0090FF;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
img.show {
    border: 1px solid #EBEBEB;
    box-shadow: 0 0 5px #EBEBEB;
    margin: 10px 0;
    max-width: 739px;
    padding: 5px;
    position: relative;
}
pre, code {
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    color: #222222;
    font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
    font-size: 14px;
    width: 100%;
}
pre {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 10px;
    width: 100%;
}
code {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 3px;
    padding: 3px;
}
pre code {
    box-shadow: none;
    display: block;
}
blockquote {
    border-left: 3px solid #BBBBBB;
    color: #666666;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
}
ul, ol, dl {
    margin-bottom: 15px;
}
ul li {
    list-style: disc inside none;
    padding-left: 20px;
}
ol li {
    list-style: decimal inside none;
    padding-left: 20px;
}
dl dt {
    font-weight: bold;
}
dl dd {
    font-style: italic;
    padding-left: 20px;
}
dl p {
    font-style: italic;
    padding-left: 20px;
}
hr {
    background: url("../images/bg_hr.png") repeat-x scroll center center transparent;
    border: medium none;
    height: 1px;
    margin-bottom: 5px;
}
table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align: left;
}
th {
    background: none repeat scroll 0 0 #373737;
    color: #FFFFFF;
    font-family: 'Lucida Grande','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 10px;
}
td {
    border: 1px solid #373737;
    padding: 10px;
}
form {
    background: none repeat scroll 0 0 #F2F2F2;
    padding: 20px 0;
}
.outer {
    width: 100%;
}
.inner {
    margin: 0 auto;
    max-width: 640px;
    padding: 20px 10px;
    position: relative;
}
#forkme_banner {
    background: url("../images/blacktocat.png") no-repeat scroll 95% 50% #0090FF;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    font-weight: 700;
    padding: 10px 50px 10px 10px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 10;
}
#header_wrap {
    background: -moz-linear-gradient(center top , #373737, #212121) repeat scroll 0 0 transparent;
}
#header_wrap .inner {
    padding: 50px 10px 30px;
}
#project_title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-shadow: 0 0 10px #111111;
}
#project_tagline {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0 0 10px #111111;
}
#downloads {
    background: url("../images/icon_download.png") no-repeat scroll 0 90% transparent;
    bottom: -40px;
    height: 70px;
    position: absolute;
    right: 0;
    width: 210px;
    z-index: 10;
}
.zip_download_link {
    background: url("../images/sprite_download.png") no-repeat scroll left bottom transparent;
    display: block;
    float: right;
    height: 70px;
    overflow: hidden;
    text-indent: -5000px;
    width: 90px;
}
.tar_download_link {
    background: url("../images/sprite_download.png") no-repeat scroll right bottom transparent;
    display: block;
    float: right;
    height: 70px;
    margin-left: 10px;
    overflow: hidden;
    text-indent: -5000px;
    width: 90px;
}
.zip_download_link:hover {
    background: url("../images/sprite_download.png") no-repeat scroll left top transparent;
}
.tar_download_link:hover {
    background: url("../images/sprite_download.png") no-repeat scroll right top transparent;
}
#main_content_wrap {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #111111;
    border-top: 1px solid #111111;
}
#main_content {
    padding-top: 40px;
}
#footer_wrap {
    background: none repeat scroll 0 0 #212121;
}
fieldset input, fieldset label {
    display: block;
    width: 100%;
}
fieldset input {
    margin-bottom: 1em;
}
#examples a {
    border-right: 1px solid #007EDF;
    display: inline-block;
    padding: 0 0.5em;
}
#examples a:last-child {
    border-right: medium none;
}
#geocomplete {
    width: 300px;
}
#examples {
    margin-bottom: 0.5em;
}
.map_canvas {
    border: 10px solid #FFFFFF;
    height: 400px;
    margin: 10px 0;
    width: 100%;
}
.map_canvas:after {
    color: #999999;
    content: "Type in an address in the input above.";
    display: block;
    font-size: 2em;
    padding-top: 170px;
    text-align: center;
}
#multiple li {
    cursor: pointer;
    text-decoration: underline;
}
a.back:before {
    content: " ← ";
}
body {
    font-size: 14px;
}
#downloads {
    display: none;
}
.inner {
    max-width: 480px;
    min-width: 320px;
}
#project_title {
    font-size: 32px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
code, pre {
    font-size: 11px;
    max-width: 480px;
    min-width: 320px;
}

